<ion-view title="Espace CLient" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="espaceCLient-form2" class="list">
      <ion-list id="espaceCLient-list1">
        <label class="item item-input" id="espaceCLient-input3">
          <span class="input-label">Utilisateur</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="espaceCLient-input4">
          <span class="input-label">Mot De Passe</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="home.mesComptes" id="espaceCLient-button2" class="button button-stable  button-block">Connexion</a>
      <a href="/signup" href-inappbrowser="_system" id="espaceCLient-button3" class="button button-positive  button-block button-clear">Créer un nouveau compte</a>
      <div class="spacer" style="height: 40px;"></div>
    </form>
  </ion-content>
</ion-view>